* {
    margin: 0;
    padding: 0;
    font-family: "Noto Sans KR","Apple SD Gothic Neo",Helvetica,sans-serif,Arial;
}
a {
    text-decoration: none;
    color: #555;
}
ul, ol {list-style: none;}
input, textarea {
    outline: none;
}
img {border-style: none; max-width: 100%;}
button {outline: none; border: none;}
#wrapper {
    width: 100%;
    min-width: 1200px;
}

header {
    min-width: 1200px;
    width: 100%;
    height: 105px;
    position: relative;
}

header>div {
    width: 100%;
    box-sizing: border-box;
   
}

header>.headerTop {
    position: absolute;
    height: 35px;
    background: #e1f3f3;
}

header>.headerTop>div {
    width: 1200px;
    height: 100%;
    margin: 0 auto;
    text-align: right;
}

header>.headerTop>div>a {
    display: inline-block;
    height: 100%;
    line-height: 35px;
    padding: 0 10px;
    font-size: 14px;
    color: #555;
    font-weight: 300;
}

header>.menu {
    position: absolute;
    top: 35px;
    height: 70px;
    background: #32a69f;
    box-sizing: border-box;
}

header > .menu > div {
    width: 1200px;
    height: 100%;
    margin: 0 auto;
}
header > .menu > div > ul {
    display: inline-block;
    margin-top: 20px;
    
}
header > .menu > div > ul > li {float: left;}
header > .menu > div > ul > li > a {
    font-size: 20px;
    color: white;
    padding: 0 64px;
}
header > .menu > div > ul > li img {width: 70px;}
header > .menu > div > ul > li:nth-child(3) {
    position: relative;
    top: -22px;
}
main {
    width: 100%;
    min-width: 1200px;
    min-height: 800px;
    margin: 0 auto;
}
.top {
    overflow: hidden;
    height: 200px;
    background-color: #e1f4f3;
    text-align: center;
}

.top > h3 {
    color: #555;
    font-size: 38px;
    font-weight: bold;
    padding-top: 60px;
}

.tab {
    display: flex;
    justify-content: center; /* 가로 중앙 정렬 */
    margin-top: -40px;
}
.tab > ul {
    width: 700px;
    height: 100%;
    background: white;
}

.tab > ul > li {
    text-align: center;
    float: left;
    width: 33.3%;
    align-items: center;
    line-height: 70px;
    border-bottom: 1px solid #10958b;
}
.tab > ul > li > a {
    font-weight: bold;
    font-size: 20px;
    color: #10958b;
}
.tab > ul > .on {
    background: #32a69f;
}
.tab > ul > .on a {
    color: #fff;
}


/*푸터*/

footer {
    width: 100%;
    height: 192px;
    background: #b4e8e3;
    border-top: 1px solid #e9e9e9;
    box-sizing: border-box;
}

footer>div {
    width: 1200px;
    height: auto;
    padding-top: 20px;
    box-sizing: border-box;
    margin: 0 auto;
}

footer>div>.footer_info>p {
    float: left;
    height: 100%;
    line-height: 20px;
    font-size: 15px;
    color: #10958b;
}

footer>div>.footer_link {
    float: right;
}

footer>div>.footer_link>ul {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

footer>div>.footer_link>ul>li {
    display: inline-block;
    font-weight: bold;
}

footer>div>.footer_link>ul>li>a {
    font-size: 17px;
    color: #10958b;
    font-weight: bold;
    padding: 0 10px;
}

footer p>strong {
    display: inline-block;
    padding: 6px 15px 7px 0;
    color: #10958b;
    font-size: 30px;
    font-weight: bold;
}
