/* 공통 */
* {
    margin: 0;
    padding: 0;
    font-family: "Noto Sans KR","Apple SD Gothic Neo",Helvetica,sans-serif,Arial;
}
a {
    text-decoration: none;
    color: #555;
}
ul, ol {list-style: none;}
input, textarea {
    outline: none;
}
img {border-style: none; max-width: 100%;}
button {outline: none; border: none;}
#wrapper {
    width: 100%;
    min-width: 1200px;
}

header {
    min-width: 1200px;
    width: 100%;
    height: 105px;
    position: sticky;
    top: 0;
    z-index: 100;
}

header>div {
    width: 100%;
    box-sizing: border-box;
   
}

header>.headerTop {
    position: absolute;
    height: 35px;
    background: #e1f3f3;
}

header>.headerTop>div {
    width: 1200px;
    height: 100%;
    margin: 0 auto;
    text-align: right;
}

header>.headerTop>div>a {
    display: inline-block;
    height: 100%;
    line-height: 35px;
    padding: 0 10px;
    font-size: 14px;
    color: #555;
    font-weight: 300;
}

header>.menu {
    position: absolute;
    top: 35px;
    height: 70px;
    background: #32a69f;
    box-sizing: border-box;
}

header > .menu > div {
    width: 1200px;
    height: 100%;
    margin: 0 auto;
}
header > .menu > div > ul {
    display: inline-block;
    margin-top: 20px;
    
}
header > .menu > div > ul > li {float: left;}
header > .menu > div > ul > li > a {
    font-size: 20px;
    color: white;
    padding: 0 64px;
}
header > .menu > div > ul > li img {width: 70px;}
header > .menu > div > ul > li:nth-child(3) {
    position: relative;
    top: -22px;
}
main {
    width: 100%;
    min-width: 1200px;
    min-height: 800px;
    margin: 0 auto;
}

.top {
    overflow: hidden;
    height: 200px;
    background-color: #e1f4f3;
    text-align: center;
}

.top > h3 {
    color: #555;
    font-size: 38px;
    font-weight: bold;
    padding-top: 60px;
}

.tab {
    display: flex;
    justify-content: center; /* 가로 중앙 정렬 */
    margin-top: -40px;
}
.tab > ul {
    width: 700px;
    height: 100%;
    background: white;
}

.tab > ul > li {
    text-align: center;
    float: left;
    width: 50%;
    align-items: center;
    line-height: 70px;
    border-bottom: 1px solid #10958b;
}
.tab > ul > li > a {
    font-weight: bold;
    font-size: 23px;
    color: #10958b;
}
.tab > ul > .on {
    background: #32a69f;
}
.tab > ul > .on a {
    color: #fff;
}






footer {
    margin-top: 100px;
    height: 180px;
    background: #b4e8e3;
    padding: 43px 0 75px;
}
.footer-col:first-child {
    max-width: 524px;
}
.footer .container {
    display: flex;
    justify-content: space-between;
    position: relative;
    width: 1200px;
    margin: 0 auto;
}

.info {margin: 0 -8px;}
.info li {
    float: left;
    padding: 8px;
    line-height: .8;
    font-size: 17px;
    color: #10958b;
    font-weight: 300;
}
.info li:first-child {
    font-weight: bold;
    font-weight: 700;
}
.link {
    margin: -10px;
}
.link li {
    float: left;
    padding: 0 2px;
}
.link li a {
    display: block;
    line-height: 1;
    font-family: bold;
    font-size: 17px;
    color: #10958b;
    font-weight: 700;
    padding: 2px;
    margin: 0 2px 10px;
}





/* community_tipList */

.container {
width: 100%;
text-align: center;
}

section  table {
display: inline-block;
margin: 0 auto;
width: 1200px;
height: auto;
border-top: 2px solid #10958b;
margin-top: 70px;
}


section table tr{
display: inline-block;
width: 1200px;
height: 120px;
border-bottom: 2px solid #dcdcdc;
margin-top: 16px;
}

section table tr td:nth-child(2){
width: 500px;
}


section table  span:first-child{
display: inline-block;
width: 160px;
height: 100px;
}



.tipTitle{
    text-align: left;
    padding-left: 23px;
    width: 800px;
    
}

.tipTitle > a{
font-size: 24px;
font-weight: 700;
color: #333;
text-overflow: ellipsis;
} 


.tipNick{
display: inline-block;
font-size: 18px;
font-weight: 700;
color: #10958b;
margin-right: 660px;
}

.tipInfo{
width: 604.56px;
text-align: right;
}
.tipLike{
font-weight: bold;
color: #666;
font-size: 18px;
}

.tipLike > strong{
font-weight: bolder;
color: #111;
font-size: 20px;
}

.tipHit{
color: #999;
font-weight: bold;
font-size: 18px;
}

.tipIcon{
display: inline-block;
width: 32px;
height: 32px;
background-position: 50%;
background-repeat: no-repeat;
background-size: cover;
margin-bottom: -7px;
}

.tipHeart{
display: inline-block;
width: 18px;
height: 15px;
background-size: fill;
background-repeat: no-repeat;
}

.write{
width: 1200px;
margin: 0 auto;
}
.write  button {
text-align: center;
align-items: center;
background-color: #10958b;
border: 1px solid white;
min-width: 120px;
height: 56px;
font-size: 18px;
font-weight: 600;
color: white;
margin-top: 40px;
margin-bottom: 20px;
margin-left: 1080px;
}

.paging a{
display: inline-block;
box-shadow: 0 3px 1px -2px rgb(0 0 0 / 20%), 0 2px 2px 0 rgb(0 0 0 / 14%), 0 1px 5px 0 rgb(0 0 0 / 12%);
border-radius: 4px;
align-items: center;
height: 32px;
width: 32px;
margin: 0.3rem 10px;
font-size: 20px;
margin-bottom: 10px;
}

.paging .on {
background-color: #10958b;
color: #fff;
}

/* community_tipView */

.tip_view_title{
    width: 1200px;
    margin: 0 auto;
    margin-top: 70px;
    border-top: 5px solid #b4e8e3;
    border-bottom: 5px solid #b4e8e3;
    padding-top: 20px;
    padding-bottom: 20px;
}

.tip_view_title > h3{
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    color: #333;
    }
.tip_view_nick{
    display: inline-block;
    width: 1200px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: 700;
    color: #10958b;
}


.tip_view_content{
    width: 1200px;
    margin: 0 auto;
    border-bottom: 5px solid #b4e8e3;
    margin-bottom: 100px;
}

.tip_view_hit{
    text-align: right;
    color: #999;
    font-weight: bold;
    font-size: 18px;
    padding-top: 20px;

}

.view_img_div{
    width: 1200px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.view_img{
    width: 800px;
    height: 800px;
    margin: 0 auto;
}

.tip_view_text{
    height: auto;
    text-align: center;
    font-size: 18px;
    
}




.view_link{
    text-align: right;
    margin-bottom: 30px;
    margin-top: 80px;
}

.view_link > a > .view_list{
    text-align: center;
    background-color: white;
    border: 1px solid #10958b;
    min-width: 60px;
    height: 40px;
    font-size: 18px;
    font-weight: 600;
    color: #333;
}

.view_link > a > .view_modify{
    text-align: center;
    background-color: #10958b;
    border: 1px solid #10958b;
    min-width: 60px;
    height: 40px;
    font-size: 18px;
    font-weight: 600;
    color: white;
}

.view_link > a > .view_delete{
    text-align: center;
    background-color: #10958b;
    border: 1px solid #10958b;
    min-width: 60px;
    height: 40px;
    font-size: 18px;
    font-weight: 600;
    color: white;
}


/* community_tipWrite */
.write_cate{
    width: 1200px;
    height: 40px;
    margin: 0 auto;
    margin-top: 60px;
    margin-bottom: 60px;
}

.write_tip{
    text-align: center;
    font-size: 22px;
    font-weight: 600;
    width: 260px;
    height: 40px;
    background-color: #10958b;
    border: #10958b;
    color: white;
    border-radius: 5%;
    line-height: 35px;
}

.write_table{
    width: 1200px;
    margin: 0 auto;
    border-top: 5px solid #b4e8e3;
    border-bottom: 5px solid #b4e8e3;
    border-collapse: separate;
    border-spacing: 0 40px;
}



.write_table input{
    width: 1060px;
    height: 40px;
    font-size: 18px;
    padding: 5px 5px;
}

.write_table textarea{
    width: 1055px;
    height: 400px;
    font-size: 16px;
    padding: 10px 10px;
}



.write_table td {
    margin-top: 30px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 50px;
}





.write_table button{
    width: 80px;
    height: 30px;
    border: 1px solid #333;
}


.write_font{
    width: 150px;
    height: auto;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}




.write_link{
    width: 1200px;
    margin: 0 auto;
    text-align: right;
    margin-top: 40px;
    margin-bottom: 60px;
}

.write_cancel{
    text-align: center;
    align-items: center;
    background-color: white;
    border: 1px solid #10958b;
    min-width: 100px;
    height: 40px;
    font-size: 18px;
    font-weight: 600;
    color: #333;
}

.write_complete{
    text-align: center;
    align-items: center;
    background-color: #10958b;
    border: 1px solid #10958b;
    min-width: 100px;
    height: 40px;
    font-size: 18px;
    font-weight: 600;
    color: white;
}


/* community_tipModify*/
 .modify_cate{
    width: 1200px;
    height: 40px;
    margin: 0 auto;
    margin-top: 60px;
    margin-bottom: 60px;
}

 .modify_tip{
    text-align: center;
    font-size: 22px;
    font-weight: 600;
    width: 260px;
    height: 40px;
    background-color: #10958b;
    border: #10958b;
    color: white;
    border-radius: 5%;
    line-height: 35px;
}

 .modify_table{
    width: 1200px;
    margin: 0 auto;
    border-top: 5px solid #b4e8e3;
    border-bottom: 5px solid #b4e8e3;
    border-collapse: separate;
    border-spacing: 0 40px;
}



 .modify_table input{
    width: 1060px;
    height: 40px;
    font-size: 18px;
    padding: 5px 5px;
}

 .modify_table textarea{
    width: 1055px;
    height: 400px;
    font-size: 16px;
    padding: 10px 10px;
}



 .modify_table td {
    margin-top: 30px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 50px;
}





 .modify_table button{
    width: 80px;
    height: 30px;
}


 .modify_font{
    width: 150px;
    height: auto;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}




 .modify_link{
    width: 1200px;
    margin: 0 auto;
    text-align: right;
    margin-top: 40px;
    margin-bottom: 60px;
}

 .modify_cancel{
    text-align: center;
    align-items: center;
    background-color: white;
    border: 1px solid #10958b;
    min-width: 100px;
    height: 40px;
    font-size: 18px;
    font-weight: 600;
    color: #333;
}

 .modify_complete{
    text-align: center;
    align-items: center;
    background-color: #10958b;
    border: 1px solid #10958b;
    min-width: 100px;
    height: 40px;
    font-size: 18px;
    font-weight: 600;
    color: white;
}

/* community_talktalkList */



#talkMain > .container > .talk_title{
    width: 1200px;
    height: 57px;
    margin: 0 auto;
    margin-bottom: 40px;
    margin-top: 60px;
}

#talkMain > .container > .talk_title > h3{
    display: inline-block;
    float: left;
    color: #10958b;
    font-size: 32px;
    font-weight: 600;

}

#talkMain > .container > .talk_title > .talk_write{
    display: inline-block;
    width: 180px;
    height: 57px;
    float: right;
    background-image: linear-gradient(90deg,#1dc6f7,#00e5c2,#00e5c2,#1dc6f7);
    border-radius: 100px;
    background-size: 300% 100%;
}

#talkMain > .container > .talk_title > .talk_write:hover{
    display: inline-block;
    width: 180px;
    height: 57px;
    float: right;
    background-image: linear-gradient(90deg,#00e5c2,#1dc6f7,#1dc6f7,#00e5c2);
    border-radius: 100px;
    background-size: 300% 100%;
}

#talkMain > .container > .talk_title > .talk_write > a{
    font-size: 18px;
    color: #fff;
    margin: 0 auto;
    line-height: 57px;
}

#talkMain > .container > .talk_head{
    width: 1200px;
    height: 45px;
    margin: 0 auto;
}

#talkMain > .container > .talk_head > .select{
    float: right;
    width: 325px;
    height: 45px;
    text-align: right;
}


#talkMain .c1Name{
    width: 96px;
    height: 45px;
    margin-right: 8px;
    appearance: none;
    background-image: url(../img/select_arrow.png);
    padding-right: 30px;
    background-size: auto;
    background-repeat: no-repeat;
    background-position: right 10px center;
    font-size: 14px;
    color: #666;
    padding-left: 7px;
    border: 1px solid #ddd;
}

#talkMain .c2Name{
    width: 217px;
    height: 45px;
    appearance: none;
    background-image: url(../img/select_arrow.png);
    padding-right: 30px;
    background-size: auto;
    background-repeat: no-repeat;
    background-position: right 10px center;
    font-size: 14px;
    color: #666;
    padding-left: 7px;
    border: 1px solid #ddd;
}

#talkMain > .container > .talk_rank{
    width: 1200px;
    height: auto;
    margin: 0 auto;
}

#talkMain > .container > .talk_rank > .rank_img{
    width: 1200px;
    height: auto;
    margin: 0 auto;
}

#talkMain > .container > .talk_rank > .gallery_items{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: -15px -12px;
    font-family: Noto Sans KR,Apple SD Gothic Neo,Helvetica,sans-serif,Arial;
    color: #333;
    letter-spacing: -.04em;
    word-break: keep-all;
    word-wrap: break-word;
    font-size: 16px;
    text-rendering: optimizeLegibility;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-text-size-adjust: 100%;
    margin-top: 20px;
}

#talkMain > .container > .talk_rank > .gallery_items > .gallery_item{
    position: relative;
    width: 33.3333%;
    padding: 15px 12px;
    cursor: pointer;
}


#talkMain > .container > .talk_rank > .gallery_items > .gallery_item > .gallery_item_con1{
    position: relative;
    width: 100%;
    padding-top: 72.91667%;
    background-color: #eee;
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover;
}

#talkMain > .container > .talk_rank > .gallery_items > .gallery_item > .gallery_item_con1::before{
    content: "";
    position: absolute;
    z-index: 1;
    display: block;
    
}

#talkMain > .container > .talk_rank > .gallery_items > .gallery_item:first-child > .gallery_item_con1::before{
    top: 18px;
    left: 16px;
    width: 102px;
    height: 104px;
    background-image: url(../img/icon-medal1.png);
    
}

#talkMain > .container > .talk_rank > .gallery_items > .gallery_item:nth-child(2) > .gallery_item_con1::before{
    top: 18px;
    left: 18px;
    width: 68px;
    height: 100px;
    background-image: url(../img/icon-medal2.png);
    
}

#talkMain > .container > .talk_rank > .gallery_items > .gallery_item:nth-child(3) > .gallery_item_con1::before{
    top: 18px;
    left: 18px;
    width: 68px;
    height: 100px;
    background-image: url(../img/icon-medal3.png);
    
}

#talkMain > .container > .talk_rank > .gallery_items > .gallery_item:first-child > .gallery_item_con1::after{
   border: 10px solid #ffe73d;
}

#talkMain > .container > .talk_rank > .gallery_items > .gallery_item:nth-child(2) > .gallery_item_con1::after{
    border: 10px solid #ccc;
 }

#talkMain > .container > .talk_rank > .gallery_items > .gallery_item:nth-child(3) > .gallery_item_con1::after{
    border: 10px solid #cf9813;
 }

#talkMain > .container > .talk_rank > .gallery_items > .gallery_item > .gallery_item_con1::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    
 }

#talkMain > .container > .talk_rank > .gallery_items > .gallery_item > .gallery_item_con2{
    margin-top: 15px;
}

#talkMain > .container > .talk_rank > .gallery_items > .gallery_item > .gallery_item_con2 > .gallery_info1{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}



#talkMain > .container > .talk_rank > .gallery_items > .gallery_item > .gallery_item_con2 > .gallery_info1 > .gallery_like_comment > .gallery_like{
    display: inline-flex;
    align-items: center;
    font: 16px;
    color: #999;
    padding: 5px 10px;
}

#talkMain > .container > .talk_rank > .gallery_items > .gallery_item > .gallery_item_con2 > .gallery_info1 > .gallery_like_comment > .gallery_like > span{
    width: 18px;
    height: 15px;
    display: inline-block;
    background-repeat: no-repeat;
    background-position: 50%;
}

#talkMain > .container > .talk_rank > .gallery_items > .gallery_item > .gallery_item_con2 > .gallery_info1 > .gallery_like_comment > .gallery_comment{
    display: inline-flex;
    align-items: center;
    font: 16px;
    color: #999;
    padding: 5px 10px;
}

#talkMain > .container > .talk_rank > .gallery_items > .gallery_item > .gallery_item_con2 > .gallery_info1 > .gallery_like_comment > .gallery_comment > span{
    width: 18px;
    height: 15px;
    display: inline-block;
    background-repeat: no-repeat;
    background-position: 50%;
    margin-right: 5px;
}

#talkMain > .container > .talk_rank > .gallery_items > .gallery_item > .gallery_item_con2 > .gallery_info1 > .gallery_title{
    font-size: 18px;
    font-weight: 600;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #333;
}

#talkMain > .container > .talk_rank > .gallery_items > .gallery_item > .gallery_item_con2 > .gallery_info2{
    margin-top: 5px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

#talkMain > .container > .talk_rank > .gallery_items > .gallery_item > .gallery_item_con2 > .gallery_info2 > .rank_nick_inner {
    min-height: 25px;
    padding-left: 30px;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    
 }

#talkMain > .container > .talk_rank > .gallery_items > .gallery_item > .gallery_item_con2 > .gallery_info2 > .rank_nick_inner >.rank_nick {
    padding: 5px 0;
    font-size: 16px;
    font-weight: 600;
    
 }

 #talkMain > .container > .talk_rank > .gallery_items > .gallery_item > .gallery_item_con2 > .gallery_info2 > .rank_nick_inner > .rank_nick > .rank_nick_icon{
    width: 25px;
    height: 25px;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover;
    background-color: #eee;
    border-radius: 100%;
 }

 #talkMain > .container > .talk_rank > .gallery_items > .gallery_item > .gallery_item_con2 > .gallery_info2 > .rank_date{
    font-size: 14px;
    color: #999;
 }






/* community_talktalkWrite */
.write_talktalk{
    text-align: center;
    font-size: 22px;
    font-weight: 600;
    width: 260px;
    height: 40px;
    background-color: #10958b;
    border: #10958b;
    color: white;
    border-radius: 5%;
    line-height: 35px;
}


/* community_talktalkModify */
.modify_talktalk{
    text-align: center;
    font-size: 22px;
    font-weight: 600;
    width: 260px;
    height: 40px;
    background-color: #10958b;
    border: #10958b;
    color: white;
    border-radius: 5%;
    line-height: 35px;
}