/* 공통 */
* {
    margin: 0;
    padding: 0;
    font-family: "Noto Sans KR","Apple SD Gothic Neo",Helvetica,sans-serif,Arial;
}
a {
    text-decoration: none;
    color: #555;
}
ul, ol {list-style: none;}
input, textarea {
    outline: none;
}
img {border-style: none; max-width: 100%;}
button {outline: none; border: none;}
#wrapper {
    width: 100%;
    min-width: 1200px;
}

header {
    min-width: 1200px;
    width: 100%;
    height: 105px;
    position: relative;
}

header>div {
    width: 100%;
    box-sizing: border-box;
   
}

header>.headerTop {
    position: absolute;
    height: 35px;
    background: #e1f3f3;
}

header>.headerTop>div {
    width: 1200px;
    height: 100%;
    margin: 0 auto;
    text-align: right;
}

header>.headerTop>div>a {
    display: inline-block;
    height: 100%;
    line-height: 35px;
    padding: 0 10px;
    font-size: 14px;
    color: #555;
    font-weight: 300;
}

header>.menu {
    position: absolute;
    top: 35px;
    height: 70px;
    background: #32a69f;
    box-sizing: border-box;
}

header > .menu > div {
    width: 1200px;
    height: 100%;
    margin: 0 auto;
}
header > .menu > div > ul {
    display: inline-block;
    margin-top: 20px;
    
}
header > .menu > div > ul > li {float: left;}
header > .menu > div > ul > li > a {
    font-size: 20px;
    color: white;
    padding: 0 64px;
}
header > .menu > div > ul > li img {width: 70px;}
header > .menu > div > ul > li:nth-child(3) {
    position: relative;
    top: -22px;
}

footer {
    margin-top: 100px;
    height: 180px;
    background: #b4e8e3;
    padding: 43px 0 75px;
}
.footer-col:first-child {
    max-width: 524px;
}
.footer .container {
    display: flex;
    justify-content: space-between;
    position: relative;

}
.info {margin: 0 -8px;}
.info li {
    float: left;
    padding: 8px;
    line-height: .8;
    font-size: 17px;
    color: #10958b;
    font-weight: 300;
}
.info li:first-child {
    font-weight: bold;
    font-weight: 700;
}
.link {
    margin: -10px;
}
.link li {
    float: left;
    padding: 0 2px;
}
.link li a {
    display: block;
    line-height: 1;
    font-family: bold;
    font-size: 17px;
    color: #10958b;
    font-weight: 700;
    padding: 2px;
    margin: 0 2px 10px;
}

/*myQna*/
:root {
    --swiper-navigation-size: 44px;
}

#qna {
    min-height: 600px;
}
#qna > .sub-contents {
    padding: 20px 0 160px;
}
#qna > .sub-contents > .container {
    margin: auto;
    max-width: 1200px;
    padding: 0;
}
#qna .mypage-container {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    padding-top: 80px;
}

#qna .mypage-navigation{
    width: 260px;
}

#qna .mypage-nav {
    overflow: hidden;
    position: relative;
    padding: 30px 20px 40px;
    list-style: none;
    border-radius: 16px;
    box-shadow: 0 0 10px 0 rgb(36 36 36 / 15%);
    width: 180px;
}
#qna .mypage-nav:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 10px;
    background-image: linear-gradient(90deg,#1dc6f7,#00e5c2);
}


#qna .mypage-nav__list-link_active {
    display: block;
    position: relative;
    padding: 20px 0;
    line-height: 1;
    font-size: 20px;
    color: #0dbcaf;
    font-weight: 700;
    border-bottom: 1px solid #0dbcaf;
    cursor: pointer;
}

#qna .mypage-nav__list-link {
    display: block;
    position: relative;
    padding: 20px 0;
    line-height: 1;
    font-size: 20px;
    color: #777;
    font-weight: 300;
    border-bottom: 1px solid #dbdee8;
    cursor: pointer;
}


#qna .paging {
    width: 100%;
    padding: 40px 0;
    text-align: center;
}

#qna .paging > span > a {
    color: #777;
    font-size: 11px;
    letter-spacing: -1px;
}

#qna .paging > .num > a {
    display: inline-block;
    min-width: 14px;
    margin: 0 2px;
    padding: 8px 9px;
    border: 1px solid #c4c4c4;
    background: url() 0 0 repeat-x;
    color: #000;
    font-size: 12px;
    text-align: center;
    text-decoration: none;
}

#qna .paging > .num > a.on {
    color: #39d9c8;
    font-weight: bold;
    border: 1px solid #39d9c8;
}

#qna .paging > span > a:hover{
    color: #39d9c8;
}

#qna .paging > .num > a:hover {
    border: 1px solid #39d9c8;
    text-decoration: none;
}

#qna .mypage-contents {
    width: calc(100% - 260px);
}

#qna .mypage-contents__title {
    margin: 20px 0 35px;
    padding-bottom: 16px;
    line-height: 1;
    text-align: right;
    font-size: 28px;
    color: #555;
    font-weight: 700;
    border-bottom: 1px solid #dbdee8;
}

#qna .mypage-contents_body {
    position: relative;
    margin: 0 auto;
    width: 850px;
    height: auto;
}
#qna table {
    flex: 1;
    width: 100%;
    background: #fff;
    border-top: 2px solid #0dbcaf;
    border-bottom: 2px solid #ddd;
    border-collapse: collapse;
}
#qna table > .listTitle {
    border-bottom: 1px solid #dbdee8;
}

#qna table tr {flex: 1; }

#qna table th {
    padding: 20px 10px;
    color: #333;
    background-color: #fbfbfb;
    font-size: 16px;
    border-bottom: 1px solid #ddd;
}

#qna table td {
    padding: 15px 10px;
    color: #555;
    background-color: #fff;
    font-size: 16px;
    border-bottom: 1px solid #ddd;
    margin: 0 auto;
    text-align: center
}


/*myArticle*/

:root {
    --swiper-navigation-size: 44px;
}

#sub-wrap {
    min-height: 600px;
}
#sub-wrap > .sub-contents {
    padding: 20px 0 160px;
}
#sub-wrap > .sub-contents > .container {
    margin: auto;
    max-width: 1200px;
    padding: 0;
}
#sub-wrap .mypage-container {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    padding-top: 80px;
}

#sub-wrap .mypage-navigation{
    width: 260px;
}

#sub-wrap .mypage-nav {
    overflow: hidden;
    position: relative;
    padding: 30px 20px 40px;
    list-style: none;
    border-radius: 16px;
    box-shadow: 0 0 10px 0 rgb(36 36 36 / 15%);
    width: 180px;
}
#sub-wrap .mypage-nav:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 10px;
    background-image: linear-gradient(90deg,#1dc6f7,#00e5c2);
}


#sub-wrap .mypage-nav__list-link_active {
    display: block;
    position: relative;
    padding: 20px 0;
    line-height: 1;
    font-size: 20px;
    color: #0dbcaf;
    font-weight: 700;
    border-bottom: 1px solid #0dbcaf;
    cursor: pointer;
}

#sub-wrap .mypage-nav__list-link {
    display: block;
    position: relative;
    padding: 20px 0;
    line-height: 1;
    font-size: 20px;
    color: #777;
    font-weight: 300;
    border-bottom: 1px solid #dbdee8;
    cursor: pointer;
}


.paging {
    width: 100%;
    padding: 40px 0;
    text-align: center;
}

.paging > span > a {
    color: #777;
    font-size: 11px;
    letter-spacing: -1px;
}

.paging > .num > a {
    display: inline-block;
    min-width: 14px;
    margin: 0 2px;
    padding: 8px 9px;
    border: 1px solid #c4c4c4;
    background: url() 0 0 repeat-x;
    color: #000;
    font-size: 12px;
    text-align: center;
    text-decoration: none;
}

.paging > .num > a.on {
    color: #39d9c8;
    font-weight: bold;
    border: 1px solid #39d9c8;
}

.paging > span > a:hover{
    color: #39d9c8;
}

.paging > .num > a:hover {
    border: 1px solid #39d9c8;
    text-decoration: none;
}

#sub-wrap .mypage-contents {
    width: calc(100% - 260px);
}

#sub-wrap .mypage-contents__title {
    margin: 20px 0 35px;
    padding-bottom: 16px;
    line-height: 1;
    text-align: right;
    font-size: 28px;
    color: #555;
    font-weight: 700;
    border-bottom: 1px solid #dbdee8;
}

#sub-wrap .mypage-contents_body {
    position: relative;
    margin: 0 auto;
    width: 850px;
    height: auto;
}
#sub-wrap table {
    flex: 1;
    width: 100%;
    background: #fff;
    border-top: 2px solid #0dbcaf;
    border-bottom: 2px solid #ddd;
    border-collapse: collapse;
}
#sub-wrap table > .listTitle {
    border-bottom: 1px solid #dbdee8;
}

#sub-wrap table tr {flex: 1; }

#sub-wrap table th {
    padding: 20px 10px;
    color: #333;
    background-color: #fbfbfb;
    font-size: 16px;
    border-bottom: 1px solid #ddd;
}

#sub-wrap table td {
    padding: 15px 10px;
    color: #555;
    background-color: #fff;
    font-size: 16px;
    border-bottom: 1px solid #ddd;
    margin: 0 auto;
    text-align: center
}

