<th:block th:include="@{cs/_header.html}"/>
<script>
        $(document).ready(function(){
            $('.question1').click(function(){
                if($('.answer1').css('display')=='none'){
                    $('.answer1').show();
                   
                }else{
                    $('.answer1').hide();
                }
            });
        });
</script>            
         <main id="faq">
		    <div class="top">
		        <h3>고객센터</h3>
		    </div>
		    <div class="tab">
		        <ul>
		            <li><a th:href="@{/cs/notice/list}">공지사항</a></li>
		            <li class="on"><a th:href="@{/cs/faq/list}">FAQ</a></li>
		            <li><a th:href="@{/cs/qna/list}">QNA</a></li>
		        </ul>
		    </div>
            <section id="list">
                <div class="container">
                    <ul class="tab-list"></ul>
                    <div class="faq">
                        <ul>
                            <li class="opened">
                                <div class="q question1">
                                    <span class="question-mark">Q</span>
                                    <div class="question-title">
                                        <div class="centre">
                                            <div class="inner">
                                                <button>헬로펫은 어떤 서비스인가요?</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="a answer1" style="display: none;">
                                    <div class="answer-inner">
                                        <span class="answer-mark">A</span>
                                        <div class="answer-contents">
                                            <p>
                                                헬로펫은 전국 동물병원 진료비 데이터베이스와 정말 좋은 동물병원과 약국을 가장 빠르게 찾을 수 있도록 진료비 DB 기반&nbsp;&nbsp;
                                                <strong><span class="colour" style="color:rgb(0, 112, 192)" data-tomark-pass="">진료비 조회→ 증상별 질병 검색→ 병원 • 약국 찾기&nbsp;</span></strong>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="button">
                                        <a th:href="@{/cs/faq/modify}" class="btnModify">수정</a>    
                                        <a href="#" class="btnDel">삭제</a>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                <a th:href="@{/cs/faq/write}" class="btnWrite">글쓰기</a>    
                </div>
            </section>
        </main>
<th:block th:include="@{cs/_footer.html}"/>