<th:block th:include="@{cs/_header.html}"/>
<main id="faq">
		    <div class="top">
		        <h3>고객센터</h3>
		    </div>
		    <div class="tab">
		        <ul>
		            <li><a th:href="@{/cs/notice/list}">공지사항</a></li>
		            <li class="on"><a th:href="@{/cs/faq/list}">FAQ</a></li>
		            <li><a th:href="@{/cs/qna/list}">QNA</a></li>
		        </ul>
		    </div>
            <section id="write">
                <div class="container">
                    <form action="#">
                        <table class="writeTable">
                            <caption>FAQ 작성</caption>
                            <tr>
                                <th>Q</th>
                                <td><input type="text" name="title"></td>
                            </tr>
                            <tr>
                                <th>A</th>
                                <td><textarea name="content"></textarea></td>
                            </tr>
                        </table>
                        <div class="button">
                            <a th:href="@{/cs/faq/list}" class="btnList">취소</a>
                            <a href="#" class="btnWrite">작성완료</a>
                        </div>
                    </form>
                </div>
            </section>
        </main>
<th:block th:include="@{cs/_footer.html}"/>