<th:block th:include="/member/_header.html"/>
<script th:src="@{/js/register.js}"></script>
<script>
$(document).ready(function(){
	$('input[name=btnEmailCheck]').click(function(){
		
		let email = $('input[name=email]').val();
				
		if(email.match(regEmail)){
			
			let jsonData = {'email' : email};
			
			$.ajax({
				url : '/HelloPet/member/countEmail',
				method : 'GET',
				data : jsonData,
				dataType : 'json',
				success : function(data){
					if(data.result < 1){
						alert('인증번호가 전송되었습니다.');
						$('.Email-auth').css('display','table-row','block');
						$('.auth-Code').focus();
						let email = $('input[name=email]').val();
						let jsonData = {'email' : email};
						let check = $('.auth-Code') //인증번호 입력받는곳
						$.ajax({
							url : '/HelloPet/member/registerAuth',
							method : 'GET',
							data : jsonData,
							success : function(data) {
								check.attr('disabled',false);
								code = data;
							}
						});
						
					}else{
						isEmailOk = false;
						alert('사용중인 이메일입니다.');
					}
				}
			});
		}else{
			isEmailOk = false;
			alert('유효하지 않은 이메일입니다.');
		}
	});
	
	$('button[name=btn-authEmail]').click(function(){
		let inputCode = $('.auth-Code').val();
		//alert("보낸 코드는 : " + code);
		
		if(inputCode === code){
			alert('인증번호 일치');
			$('.Email-auth').css('display','none');
			isEmailOk = true;
		}else{
			alert('인증번호가 일치하지 않습니다.');
			isEmailOk = false;
		}
	});
});
</script>
<style>
	button[name=btn-authEmail] {
		width: 100px;
	    height: 35px;
	    margin: 0 0 0 5px;
	    color: #fff;
	    background: #60626c;
	    border: none;
	}
</style>
        <main class="register_main">
            <div class="register_div">
                <div class="register_top">
                    <span>펫오너 회원가입</span>
                    <div class="register_top2">
                        <span>회원가입</span>
                        <div class="register_img">
                            <img src="../img/tab2.png" alt="">
                        </div>
                    </div>
                </div>
                <div class="register_div2">
                    <form th:action="@{/member/register}" method="post" class="register_form">
                        <table class="register_table">
	                        <tr>
                                <td>아이디</td>
                                <td>
                                    <input type="text" name="uid" required="required" placeholder="아이디를 입력">
                                    <input type="button" name="btnUidCheck" value="중복확인">
                                </td>
                            </tr>
                            <tr>
                                <td>휴대폰</td>
                                <td>
                                    <input type="text" name="hp" required="required" placeholder="- 포함 13자리">
                                    <input type="button" name="btnHpCheck" value="중복확인">
                                </td>
                            </tr>
                            <tr>
                                <td>이름</td>
                                <td>
                                    <input type="text" name="name" required="required" placeholder="이름">
                                </td>
                            </tr>
                            <tr>
                                <td>이메일</td>
                                <td>
                                    <input type="email" name="email" required="required" placeholder="이메일">
                                    <input type="button" name="btnEmailCheck" value="중복확인">
                                </td>
                            </tr>
                            <tr class="Email-auth" style="display: none;">
                            	<td>이메일 인증하기</td>
                            	<td>
                            		<input type="text" class="auth-Code" placeholder="입력받은 인증코드를 입력" required="required">
                            		<button name="btn-authEmail">인증하기</button>
                            	</td>
                            </tr>
                            <tr>
                                <td>비밀번호</td>
                                <td>
                                    <input type="password" name="pass1" required="required" placeholder="숫자, 영어, 특수문자 포함 5자 이상 패스워드">
                                </td>
                            </tr>
                            <tr>
                                <td>비밀번호 확인</td>
                                <td>
                                    <input type="password" name="pass2" required="required" placeholder="숫자, 영어, 특수문자 포함 5자 이상 패스워드">
                                </td>
                            </tr>
                            <tr>
                                <td>닉네임</td>
                                <td>
                                    <input type="text" name="nick" required="required" placeholder="닉네임">
                                    <input type="button" name="btnNickCheck" value="중복확인">
                                </td>
                            </tr>
                            <tr>
                                <td>주소</td>
                                <td>
                                    <input type="text" name="zip" id="zip" readonly="readonly" placeholder="우편번호">
                                    <input type="button" onclick="postcode()" value="주소검색">
                                    <input type="text" id="addr1" name="addr1" placeholder="기본주소">
                                    <input type="text" id="addr2" name="addr2" placeholder="상세주소">
                                </td>
                            </tr>
                        </table>
                        <div class="register_button">
                            <ul>
                                <li><input type="button" value="취소"></li>
                                <li><input type="submit" name="register_submit" value="가입하기"></li>
                            </ul>
                        </div>
                    </form>
                </div>
            </div>
        </main>
<th:block th:include="/member/_footer.html"/>