<th:block th:include="@{disease/_header.html}"/>
    <style>
           
    
        .top-round {
            width: 320px;
            min-height: auto;
            padding: 10px;
            margin-top:30px;
            z-index: 2;
            position: relative;
            margin: 30px auto 0;
            max-width: 600px;
            text-align: center;
            background: #fff;
            border-radius: 100px;
            box-shadow: 0 3px 10px 0 rgb(36 36 36 /15%);
        }
        
        .top-round .title{
            font: 16px;
            line-height: 1;
            color: #3c83dc;
            font-weight: 700;
            margin-top: 10px;
            margin-bottom: 10px;
        }
        h4{
            display: block;
            margin-block-start: 1.33em;
            margin-block-end: 1.33em;
            margin-inline-start: 0px;
            margin-inline-end: 0px;
        }

        .section-grid {
            width: 1200px;
            min-height: 100px;
            margin: 80px auto;
            overflow: hidden;
        }

        .section-grid > article {
            float: left;
            width: 33.33%;
            min-height: 400px;
            padding: 10px;
            box-sizing: border-box;
        }


        .search-category-list .title {
            display: block;
            position: relative;
            margin-bottom: 34px;
            padding: 0 0 16px 8px;
            font-size: 32px;
            color: #0dbcaf;
            font-weight: 700;
        }


        .search-category-list .title:after {
            content:"";
            position: absolute;
            bottom: 0;
            left:0;
            width:100%;
            height:1px;
            background-image: linear-gradient(90deg, #1dc6f7, #00e5c2);

        }
        .search-category-list .name {
            display: block;
            margin-bottom: 20px;
            font-size: 0;
        }

        .search-category-list .name a {
            display: block;
            position: relative;
            padding: 5px 8px;
            line-height: 1;
            font-size: 20px;
            color: #777;
            font-weight: 300
        }

        .top-round {
            z-index: 2;
            position: relative;
            margin: 30px auto 0;
            padding: 15px;
            max-width: 600px;
            width: 100%;
            min-height: 60px;
            text-align: center;
            background: #fff;
            border-radius: 100px;
            box-shadow: 0 3px 10px 0 rgb(36 36 36 / 15%);
        }

        .top-round .title {
            line-height: 3;
            font-size: 26px;
            color: #3c83dc;
            font-weight: 700;
            text-align: center;
        }

        .section-grid {
            width: 1200px;
            min-height: 100px;
            margin: 80px auto;
            overflow: hidden;
        }

        .section-grid > article {
            float: left;
            width: 33.33%;
            min-height: 400px;
            padding: 10px;
            box-sizing: border-box;
        }


        .search-category-list .title {
            display: block;
            position: relative;
            margin-bottom: 34px;
            padding: 0 0 16px 8px;
            font-size: 32px;
            color: #0dbcaf;
            font-weight: 700;
        }


        .search-category-list .title:after {
            content:"";
            position: absolute;
            bottom: 0;
            left:0;
            width:100%;
            height:1px;
            background-image: linear-gradient(90deg, #1dc6f7, #00e5c2);

        }
        .search-category-list .name {
            display: block;
            margin-bottom: 20px;
            font-size: 0;
        }

        

</style>
<body>
    
        <main>
            <div id="sub-wrap">
                <div class="top">
                    <h3>증상별 질병검색</h3>
                </div>
                <div class="tab">
                    <ul>
                        <li class="on"><a th:href="@{/disease/index}">반려견</a></li>
                        <li><a th:href="@{/disease/index}">반려묘</a></li>
                    </ul>
                    
                </div>
                <div class="top-round">
                <h4 class="title">아래의 증상 중 한가지를 선택하세요!</h4>
            </div>
            <section class="section-grid">
                
                <article th:each="resultMap : ${resultMaps}">
                    <dl class="search-category-list">
                        <dt class="title">
                            [[${resultMap.c1Name}]]
                        </dt>    
                 
                       	<dd class="name">
                            <a href="#" th:each="cate2VO:${resultMap.cate2VOList}">[[${cate2VO.c2Name}]]</a>
                       	</dd>
                    </dl>
                </article>
                
                <!-- 
               <div class="tab">
               		<ul>
               			<li class="on"><a th:hred="@{/disease/index}">반려묘</a></li>
               			<li><a th:href="@{disease/index}">반려견</a></li>
               		</ul>
               		
               		  <div class="top-round">
                <h4 class="title">아래의 증상 중 한가지를 선택하세요!</h4>
            </div>
            <section class="section-grid">
                
               
                <article th:each="resultMap : ${resultMaps}">
                    <dl class="search-category-list">
                        <dt class="title">
                            [[${resultMap.c1Name}]]
                        </dt>    
                 
                       	<dd class="name">
                            <a href="#" th:each="cate2VO:${resultMap.cate2VOList}">[[${cate2VO.c2Name}]]</a>
                       	</dd>
                    </dl>
                </article>
               		-->
               		
               </div>
                                   
            </section>
        </div>

        </main>
     
<th:block th:include="@{disease/_footer.html}"/>        
