<th:block th:include="@{search/_header.html}"/>
<!-- 
날짜 : 2023-03-09
이름 : 장인화
내용 : 동물병원 검색하고 결과를0 목록 ajax로 구현하기
 -->
<script>
	$(function(){
		$('#btnSh').click(function(){
			//alert('욜');
			
			let search = $('input[name=search]').val();
	    	   console.log(search);
	    	   
	    	   if(search){
	    		   $.ajax({
		    	          url : '/HelloPet/search/SearchHs',
		    	          type : 'POST',
		    	          data : {"search": search},
		    	          success : function(data) {
							if(data != null){
								console.log(data);
								location.href="/HelloPet/search/SearchHs?keyword="+search;
							}
		    	        	  
		    	          }
		    	    });
	    	   }else{
	    		   alert('검색어를 입력하세요');
	    		   return false;
	    	   }
		});
	});

</script>
        <div class="SearchHs">
          <div class="contents">
            <div class="search-top">
                <h3 class="title">동물병원 찾기</h3>
            </div>
            <section class="section1">
                <div class="container">
                    <div class="search-head">
                      <div class="search-box-container">
                         <div class="inner">
                             <input type="text" name="search">
                             <button type="button" id="btnSh"></button>
                         </div>    
                      </div>      
                   </div>  
                 </div>
            </section>
            <section id="section2">
                <div class="mapContainer">
                    <ul>
                        <li>
                            <img th:src="@{/img/search-병원.jpg}" alt="btnHs">
                        </li>
                    </ul>
                   <span class="option">
                        <a href="#">방문순</a>
                        <a href="#">최근등록순</a>
                        <a href="#">예약많은순</a>
                   </span>
                </div>
                <div class="lists">
                    <ul>
                        <li>
                            <span class="titleHs"><a href="#">부산가루병원</a></span>
                            <span class="infoHs">
                                <span>부산 연제구</span>
                                <span>051-111-1234</span>
                            </span>
                            <span class="button-wrap">
                                <a th:href="@{/search/view}"><button type="button" id="btnDt">자세히</button></a>
                                <a th:href="@{/search/reserve}"><button type="button" id="btnga">예약가능</button></a>
                            </span>
                        </li>
                        <li>
                            <span class="titleHs"><a href="#">부산이나병원</a></span>
                            <span class="infoHs">
                                <span>부산 금정구</span>
                                <span>051-222-1234</span>
                            </span>
                            <span class="button-wrap">
                                <a th:href="@{/search/view}"><button type="button" id="btnDt">자세히</button></a>
                                <a th:href="@{/search/reserve}"><button type="button" id="btnga">예약가능</button></a>
                            </span>
                        </li>
                    </ul>
                </div>
                <!-- 검색목록 페이지 번호 -->
                <div class="paging">
                    <span class="prev">
                        <a href="#"><&nbsp;이전</a>
                    </span>
                    <span class="num">
                        <a href="#" class="on">1</a>
                        <a href="#">2</a>
                        <a href="#">3</a>
                    </span>
                    <span class="next">
                        <a href="#">다음&nbsp;></a>
                    </span>
                </div>

            </section>
            
                
            

         </div>
        </div>
  <th:block th:include="@{search/_footer.html}"/>